table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  a {
    text-decoration: none;
    color: #0066cc;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .image img {
    width: 100%;
    height: auto;
  }
  
  .image, .data {
    display: block;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #ddd;
  }
  
  .character-menu {
    width: 300px;
    background-color: #f2f2f2;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  body  {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    background-image: url(../Art_splash/World_Jarilo-VI_Belobog.webp);
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
}



/* Estilos para o menu */
.character-menu {
    text-align: center;
    background-color: #fff;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 100px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.character-menu img {
    display: block;
    margin:0 auto;
    max-width: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.character-menu h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.character-menu p {
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
}


body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.dialogue {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 10vh;
  
}

h2 {
  color: #dfdddd;
  font-size: 24px;
}

p {
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
}

a {
  color:#000000;
}

.description {
  max-width: 150px;
  margin-bottom: 10px;
  padding: 15px;
  border: solid #c09c7b;
  border-width: 4px 6px 4px 9px;
  background: #0000001a;
  border-radius: 0px 5px 0px 0px;
  margin-left: 840px;
}

#explicacao{
color:#ccc;
}

#history{
    max-width: 500px;
    padding: 20px;
    border-radius: 5px;
}

:root .theme-fandomdesktop-dark, :root .theme-fandommobile-dark{

    --color-fire: #e62a29;
    --color-ice: #2192d6;
    --color-imaginary: #e5b909;
    --color-lightning: #b54bd3;
    --color-physical: #71718c;
    --color-quantum: #4f48bd;
    --color-wind: #42c38c;
    --text-highlight: #f29e38;
    --text-new: #41be3a;
    --text-old: #e35045;
    --text-keyword: #dbc291;
    --theme-color-1: #c09c7b;
    --theme-color-2: #e2b892;
    --theme-color-3: #2b272b;
    --pi-dark-bg: var(--theme-color-3);
    --pi-border: var(--theme-color-1);
    --pi-background-color: #2b272b;
    }
    .article-table, .wikitable, .fandom-table, .wikitable.filehistory{
        border: solid transparent;
        border-width: 0px 0px 0px 0px;
        background: #aa77471a;
        border-radius: 5px 5px 5px 5px;
        border-radius: 4px;
        overflow: hidden;
    }

