table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  a {
    text-decoration: none;
    color: #0066cc;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .image {
    width: 400px; /* Aumente o valor para aumentar a largura */
  }
  
  .image img {
    width: 100%;
    height: auto;
  }
  
  .image, .data {
    display: block;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #ddd;
  }
  