*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body > header{
    padding: 16px 0 ;
    background-color: #0053c7dc;
    color: #924200;
}

h1{
    color:#b4020b;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header li{
display: inline;
margin-left: 10px;
font-family: Arial, Helvetica, sans-serif;
font-weight: 700;
}

header li a{
    color: #000000;
    text-decoration: none;
}

.container{
    width:1366px;
    margin: 0 auto 0 auto;
}

.article{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img{
    height: 260px;
    /* width: 100%; */
}
.articles article{
    height: 30%;
}

section{
    padding: 16px 0;
}

section h2,.articles article{
    margin-bottom: 16px;
}

.articles article h3{
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a{
    background-color: rgb(20, 114, 109);
    color: aliceblue;
    text-decoration: none;
    padding: 8px;
    display: inline-block;
    font-weight: 500;
    margin-top: 8px;
}

.articles article a:hover{
    text-decoration: underline;
}

#sports{
    background-color: rgba(4, 212, 4, 0.301);
}

#economy{
    background-color: rgba(212, 198, 4, 0.568);
}

#economy .articles article a{
    background-color: rgba(180, 102, 7, 0.808);
}

#games{
    background-color: #270683e5;
}

#games .articles article a{
    background-color: rgba(7, 41, 189, 0.808);
}

#animes{
    background-color: #b10f8ee5;
}

#animes .articles article a{
    background-color: rgba(179, 51, 196, 0.808);
    
}