/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #333;
}

form {
    margin-top: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
textarea {
    display: block;
    padding: 5px;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #666;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Estilizando a tabela */
table.article-table {
    border-collapse: collapse;
    width: 100%;
}

  /* Estilizando o cabeçalho da tabela */
thead th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
    padding: 10px;
    text-align: left;
}

 /* Estilizando as células de dados */
tbody td {
    border: 1px solid #ddd;
    padding: 10px;
    vertical-align: middle;
}

  /* Estilizando a primeira coluna (ícone) */
tbody td:first-child {
    width: 40px;
}

  /* Estilizando os links */
a {
    color: #000000;
    text-decoration: none;
}

  /* Estilizando as imagens */
.lazyloaded {
    max-width: 50px;
    max-height: 50px;
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
}

  /* Estilizando a coluna de raridade */
td span {
    white-space: nowrap;
}

  /* Estilizando a coluna de elemento */
.text-lightning {
    color: #b54bd3;
    font-weight: bold;
}

.text-lightning img {
    vertical-align: middle;
    margin-right: 5px;
}

.text-fire {
    color: #e62a29;
    font-weight: bold;
}

.text-fire img {
    vertical-align: middle;
    margin-right: 5px;
}

.text-physical {
    color: #71718c;
    font-weight: bold;
}

.text-physical img {
    vertical-align: middle;
    margin-right: 5px;
}

.text-ice {
    color: #2192d6;
    font-weight: bold;
}

.text-ice img {
    vertical-align: middle;
    margin-right: 5px;
}

.text-wind {
    color: #42c38c;
    font-weight: bold;
}

.text-wind img {
    vertical-align: middle;
    margin-right: 5px;
}

.text-quantum {
    color: #4f48bd;
    font-weight: bold;
}

.text-quantum img {
    vertical-align: middle;
    margin-right: 5px;
}

.text-imaginary {
    color: #e5b909;
    font-weight: bold;
}

.text-imaginary img {
    vertical-align: middle;
    margin-right: 5px;
}

.section details {
    background-color: #f2f2f2;
    color: #333;
    padding: 20px;
    font-size: 16px;
  }